:root {
  --fbw-tabbar-height: var(--van-tabbar-height);
}

html,
body {
  user-select: none;
}

.page-wrapper {
  width: 100vw;
  height: calc(100vh - var(--fbw-tabbar-height));
  /* 禁止下拉刷新 */
  overscroll-behavior: none;
}
